Django==2.0.3
wagtail==2.0
psycopg2==2.7.3.2
django-extensions==1.9.9
Werkzeug==0.11.11
stellar==0.4.3
wagtail-django-recaptcha==1.0
wagtailcodeblock==1.14

# Production dependencies
whitenoise==3.3.1
brotlipy==0.7.0
dj-database-url==0.5.0
raven==6.9.0
django-redis==4.9.0
django-storages==1.6.6
boto3==1.7.9
django-referrer-policy==1.0
scout-apm==1.1.7
django-basic-auth-ip-whitelist==0.2
