{% load wagtailcore_tags wagtailroutablepage_tags %}

<div class="relative p-h-20 p-t-30">
    <a href="{% pageurl post %}" class="reset">
        <h3 class="m-v-15">{{ post.listing_title|default:post.title }}</h3>
    </a>

    {% include "blog/blog_meta.html" with index_page=page %}

    <div class="cms-content m-v-10 h-max-200 overflow-hidden">
        {% if post.listing_summary or post.introduction %}
            <p>{{ post.listing_summary|default:post.introduction }}</p>
        {% else %}
            {# Default summary is first two blocks in streamfield #}
            {% for block in post.body|slice:":1" %}
                {% include_block block %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="box-shadow-top"></div>
    <a href="{% pageurl post %}" class="reset"><button class="btn-green btn-small">Read More</button></a>
</div>
