<span id="share-btns">
    <a target="_tab" href="https://www.facebook.com/sharer.php?u=https://www.mongodb.com/blog/post/reacting-to-auth-events-using-stitch-triggers">
        <img alt="Facebook Share" class="w-35 m-4 hover-lift" src="/blog/assets/facebook.png">
    </a>
    <a target="_tab" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.mongodb.com/blog/post/reacting-to-auth-events-using-stitch-triggers&amp;title=Reacting to Auth Events using Stitch Triggers&amp;summary=&amp;source=MongoDB">
        <img alt="Linkedin Share" class="w-35 m-4 hover-lift" src="/blog/assets/linkedin.png">
    </a>
    <a target="_tab" href="https://reddit.com/submit?url=https://www.mongodb.com/blog/post/reacting-to-auth-events-using-stitch-triggers&amp;title=Reacting to Auth Events using Stitch Triggers">
        <img alt="Reddit Share" class="w-35 m-4 hover-lift" src="/blog/assets/reddit.png">
    </a>
    <a target="_tab" href="https://twitter.com/intent/tweet?url=https://www.mongodb.com/blog/post/reacting-to-auth-events-using-stitch-triggers&amp;text=Reacting to Auth Events using Stitch Triggers">
        <img alt="Twitter Share" class="w-35 m-4 hover-lift" src="/blog/assets/twitter.png">
    </a>
    <a target="_tab" href="https://plus.google.com/share?url=https://www.mongodb.com/blog/post/reacting-to-auth-events-using-stitch-triggers&amp;h1=Reacting to Auth Events using Stitch Triggers&amp;text=">
        <img alt="Google+ Share" class="w-35 m-4 hover-lift" src="/blog/assets/googleplus.png">
    </a>
</span>
